
@model NewsUa.Models.ViewModel.RegisterViewModel
@{
    Layout = "~/Views/Shared/_N_Layout.cshtml";
    ViewBag.Title = "Реєстрація";
}
<div class="row " style="margin:10px 0;padding:20px;">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new
    {
        @id = "postForm",
        @class = "col l6 m10 s12 white z-depth-5 offset-l3 offset-m1",
        enctype = "multipart/form-data",
        role = "form",
        style = "padding:30px;"
        //,onsubmit = "accept.disabled = true; accept.value = 'Loading..'; return true;"
    }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="input-field col s12">
                @Html.LabelFor(m => m.Email, new { @class = "label-text" })
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                @Html.LabelFor(m => m.Password, new { @class = "label-text" })
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label-text" })
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <img src="" class="responsive-img" id="img-preview" />
                <p>Зображення</p>
                @Html.TextBoxFor(model => model.Image, new { type = "file", accept = "image/jpeg,image/png,.jpg,.png", id = "files" })
                @Html.ValidationMessageFor(model => model.Image)
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "red-text" })
        <div class="row">
            <div class="input-field col s12">
                <input type="submit" class="waves-effect waves-light btn blue-grey lighten-1" name="accept" value="Зарегистрироваться" />
                <div class="divider" style="margin:15px 0;"></div>
                @Html.ActionLink("Вже є аккаунт?", "LogIn")<br />
                <a href="@Url.Action("Index", "News")">На головну</a><br />
            </div>
        </div>
    }
</div>
@section Scripts {
    <script type="text/javascript">
        function showFile(e) {
            var files = e.target.files;
            for (var i = 0, f; f = files[i]; i++) {
                if (!f.type.match('image/*')) continue;
                var fr = new FileReader();
                fr.onload = (function (theFile) {
                    return function (e) {
                        document.getElementById('img-preview').src = e.target.result;
                    };
                })(f);

                fr.readAsDataURL(f);
            }
        }

        document.getElementById('files').addEventListener('change', showFile, false);

    </script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
}
